{
  "presets": [["env", { "modules": false }], "react-app", "flow"],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "displayName": true,
        "minify": false,
        "uglifyPure": false
      }
    ]
  ]
}
